body {
color: white;
font-family: sans-serif;
background-color: #072D2C;
}
abbr {
cursor: help;
}
::selection {
background-color: #7F8;
color: #000;
text-shadow: none;
}
nav {
margin: 0.6em;
}
nav a {
color: inherit;
text-decoration: none;
padding: 4px;
margin: 4px;
list-style: none;
display: inline-block;
border-radius: 0.3em;
background-color: #154442;
transition: box-shadow 0.2s ease;
white-space: nowrap;
}
nav a:hover, nav a.this {
box-shadow: 0 0 0.5em #7F8;
}
header h1 {
text-shadow: 0 0 0.2em #7F8;
text-align: center;
color: #6E8;
transition: text-shadow 0.05s linear;
}
article {
background-color: #154442;
padding: 0.2em 0.4em;
margin: 0.5em 0;
position: relative;
overflow: hidden;
opacity: 0.5;
transition: box-shadow, opacity 0.3s ease-in;
}
article:target {
opacity: 1;
box-shadow: 0 0 0.9em #7F8;
}
article h1 {
margin: 0;
color: #6E8;
}
article h1:hover, article:target h1 {
color: #7F8;
}
article h2 {
margin: 0.3em 0 0 0;
color: #6E8;
}
article ul {
margin: 0;
}
.no-details details summary { clear: both; }
.no-details details summary::before { font-size: 80%; float: left; width: 20px; content: '▶'; }
.no-details details.open summary::before { content: '▼'; }
details {
display: block;
background-color: #173D3C;
border-radius: 1em;
}
details pre {
overflow: auto;
max-height: 200px;
padding: 0 0.6em 0.6em 0.6em;
margin: 0;
}
summary {
display: block;
cursor: pointer;
background-color: #173D3C;
margin: 0.2em 0;
padding: 2px 6px;
border-radius: 1em;
}
summary:hover, details[open] summary  {
background-color: #072D2C;
}
.ip {
font-style: italic;
color: #64A19F;
vertical-align: middle;
}
.ver {
float: right;
font-style: italic;
font-size: 0.8em;
color: #072D2C;
margin: 5px 0 0 0;
}
.ver strong {
cursor: help;
}
.plrs {
margin: 5px 0 0 0;
}
.plrs em {
color: #4EA19E;
}
.anc, .anc:hover, .anc:active, .anc:visited {
tap-highlight-color: rgba(0,0,0,0);
text-decoration: none;
color: inherit;
}
footer {
margin: 2em 0;
font-size: 0.7em;
font-style: italic;
text-align: center;
opacity: 0.2;
}
footer a, footer a:active, footer a:visited {
color: #7F8;
}
.fail {
color: red;
font-weight: bold;
}
.sucs {
color: lime;
font-weight: bold;
}