body {
width: 700px;
margin: 10px auto;
}
header h1 {
font-size: 4em;
margin: 0.3em;
}
article {
border-radius: 0.5em;
}
article h1 {
font-size: 1.7em;
display: inline;
}
article h2 {
font-size: 1.3em;
}